.desktop-filters {
  display: none;
}

.product-listing {
  padding: 1rem;
}

.products {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media (min-width: 600px) {
  .product-listing {
    display: flex;
    padding: 2rem;
  }

  .desktop-filters {
    display: block;
    width: 30%;
  }

  @media (min-width: 600px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
